.icon {
    display: inline-block;
    fill: currentColor;
}

.contact__icon {
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

.social-icon {
    width: 20px;
    height: 20px;
}

.close__icon {
    width: 11px;
    height: 11px;
}

.form__icon {
    height: 18px;
    width: 18px;
}